/*#############
CODE COLORING classes for HtmlSyntaxHighLighterDotNet
#############*/
.HtmlSyntaxHighlighterDotNet {
    direction: ltr;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: consolas, monospace;
    font-size: 18px;
    font-weight: normal;
    overflow: auto;
}

    /*Comments #57A64A;*/
    .HtmlSyntaxHighlighterDotNet .co {
        color: #57A64A;
    }
    /*keywords such as class public private static and system types int bool etc#569CD6;*/
    .HtmlSyntaxHighlighterDotNet .k {
        color: #569CD6;
    }
        /*some keywords (e.g. using, return) #C586C0;*/
        .HtmlSyntaxHighlighterDotNet .k.sta {
            color: #C586C0;
        }
    /*object identifier #9CDCFE;*/
    .HtmlSyntaxHighlighterDotNet .id {
        color: #9CDCFE;
    }

        /*types class names etc #4EC9B0;*/
        .HtmlSyntaxHighlighterDotNet .id.ty {
            color: #4EC9B0;
        }
        /*most function calls command declarations #DCDCAA;*/
        .HtmlSyntaxHighlighterDotNet .id.inv {
            color: #DCDCAA;
        }
        /*methods (functions) #DCDCAA;*/
        .HtmlSyntaxHighlighterDotNet .id.m {
            color: #DCDCAA;
        }
        /*namespace #4EC9B0;*/
        .HtmlSyntaxHighlighterDotNet .id.ns {
            color: #4EC9B0;
        }

        /*stuff after using #4EC9B0;*/
        .HtmlSyntaxHighlighterDotNet .id.u {
            color: #4EC9B0;
        }

        .HtmlSyntaxHighlighterDotNet .id.v {
            color: #569CD6;
        }

    .HtmlSyntaxHighlighterDotNet .n {
        color: #B8D7A3;
    }
    /*strings #D69D85*/
    .HtmlSyntaxHighlighterDotNet .str {
        color: #D69D85;
    }

/*##############
 CODE COLORING classes for SwiftlyCodeHtml
    ############*/
.swiftly {
    direction: ltr;
    font-family: monaco,Consolas,LucidaConsole,monospace;
    background-color: #1E1E1E;
    /*font-size: 18px;*/
    color: #dfdfdf;
}

.swiftAns {
    direction: ltr;
    font-family: monaco,Consolas,LucidaConsole,monospace;
    background-color: #636465;
    /*  font-size: 18px;*/
    color: #dfdfdf;
}

    .swiftly .method, .swiftAns .method {
        color: #DCDCAA;
    }

    .swiftly .class, .swiftAns .class {
        color: #4EC9B0;
    }

    .swiftly .keyword, .swiftAns .keyword {
        color: #569cd6;
    }

    .swiftly .string, .swiftAns .string {
        color: #ce9178;
    }

    .swiftly .numericLiteral, .swiftAns .numericLiteral {
        color: #b8d7a3;
    }

    .swiftly .control, .swiftAns .control {
        color: #C586C0;
    }

    .swiftly .namespace, .swiftAns .namespace {
        color: #dfdfdf;
    }

    .swiftly .punctuation, .swiftAns .punctuation {
        color: #dfdfdf;
    }

    .swiftly .operator, .swiftAns .operator {
        color: #dfdfdf;
    }

    .swiftly .localName, .swiftAns .localName {
        color: #9CDCFE;
    }

    .swiftly .parameter, .swiftAns .parameter {
        color: #9CDCFE;
    }

    .swiftly .code_highlight, .swiftAns .code_highlight {
        background-color: #395929;
    }

    .swiftly Table, .swiftAns Table {
        padding-top: -10px !important;
        white-space: pre;
    }

    .swiftly Table, th, td, tr, .swiftAns Table, th, td, tr {
        border: none !important;
        padding: 0px !important;
        /*     font-size: 18px !important;*/
    }

.swiftly .line_no::before {
    content: attr(line_no);
    color: dimgray;
    width: 0.2em;
}

.swiftAns .line_no::before {
    content: attr(line_no);
    color: cadetblue;
    width: 0.2em;
}

.swiftly .code_column, .swiftAns .code_column {
    padding-left: 5px;
    color: #dfdfdf;
}